.tabs-container {
    width: 100%;
    max-width: 79%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
  }
  
  .tab-button {
    min-width: 120px;
    flex: 0 1 auto;
    background: transparent;
    border: none;
    padding: 10px 20px;
    font-weight: normal;
    color: gray;
    cursor: pointer;
    transition: background 0.3s, color 0.3s, font-weight 0.3s;
    border-radius: 10px;
  }
  
  .tab-button.active {
    background-color: #f3e8ff;
    color: purple;
    font-weight: bold;
  }
  
  .content-container {
    margin-top: 10px;
  }
  